SECRET_KEY="sk_test_zdFZmKf61sF5PGb6q6z1vWro2RFnimVt8mJ7fsJeOM"
CLERK_PUBLISHABLE_KEY="pk_test_bXVzaWNhbC1seW54LTQwLmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY="sk_test_zdFZmKf61sF5PGb6q6z1vWro2RFnimVt8mJ7fsJeOM"
CLERK_JS_URL="https://your-clerk-frontend-api.clerk.accounts.dev/npm/@clerk/clerk-js@6/dist/clerk.browser.js"
CLERK_UI_URL="https://your-clerk-frontend-api.clerk.accounts.dev/npm/@clerk/ui@1/dist/ui.browser.js"
