<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>This is a safe website</h1>
        <p id="status">Client-side JS is ready.</p>
        <button id="action-btn">Click Me</button>
    </div>
    <a href="/">Url Search</a>
    <a href="/img">Img Search</a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
